extend ../_layout

block content
  p <a href="/">home</a> > issue
  h1 Select your issue !
  p Look at <a href="/issue/SPLPRJ-42">SPLPRJ-42</a>,
            <a href="/issue/SPLPRJ-43">SPLPRJ-43</a>, or
            <a href="/issue/SPLPRJ-44">SPLPRJ-44</a>.
