.mat-small {
  min-width: 1%;
  height: 0px;
  padding-right: 2px;
  padding-left: 2px;
}

.mat-left {
  position: absolute;
  left: 5px;
}

.mat-right {
  position: absolute;
  right: 5px;
}

pre {
  margin-top: 5px;
  padding: 9.5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}
