<p></p>

<div *ngIf="!issue && isFetching$ | async">
  Loading...
</div>

<div *ngIf="!issue && !isFetching$ | async">
  Empty.
</div>

<div *ngIf="issue">

  <!-- issue.key -->
  <mat-grid-list cols="2" rowHeight="30px">
    <mat-grid-tile><div class="mat-left">
      <link-view view="/issue/{{issue.key}}" name="{{issue.key}}"></link-view>
    </div></mat-grid-tile>
    <mat-grid-tile><div class="mat-right">
      <a mat-button color="primary" routerLink="/issues" (click)="deleteIssue()">Delete</a>
    </div></mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>

  <!-- issue.fields.summary -->
  <mat-grid-list cols="1" rowHeight="30px">
    <mat-grid-tile><div class="mat-left">
      <b>Summary:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{issue.fields.summary}}
    </div></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="24" rowHeight="20px">

  <!-- ROW 1 -->

    <!-- issue.fields.issuetype -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Type:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="1">
      <img src="{{issue.fields.issuetype.iconUrl}}" height="16px;" width="16px;" /> <!-- {{iconSize}} -->
    </mat-grid-tile>
    <mat-grid-tile colspan="3"><div class="mat-left">
      {{issue.fields.issuetype.name}}
    </div></mat-grid-tile>

    <!-- issue.fields.status -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Status:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="1">
      <img src="{{issue.fields.status.iconUrl}}" height="16px;" width="16px;" /> <!-- {{iconSize}} -->
    </mat-grid-tile>
    <mat-grid-tile colspan="3"><div class="mat-left">
      {{issue.fields.status.name}}
    </div></mat-grid-tile>

    <!-- issue.fields.assignee -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Assignee:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="4"><div class="mat-left">
      {{issue.fields.assignee.name}}
    </div></mat-grid-tile>

  <!-- ROW 2 -->

    <!-- issue.fields.priority -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Priority:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="1">
      <img src="{{issue.fields.priority.iconUrl}}" height="16px;" width="16px;" /> <!-- {{iconSize}} -->
    </mat-grid-tile>
    <mat-grid-tile colspan="3"><div class="mat-left">
      {{issue.fields.priority.name}}
    </div></mat-grid-tile>

    <!-- issue.fields.resolution -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Resolution:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="4"><div class="mat-left">
      {{issue.fields.resolution.name}}
    </div></mat-grid-tile>

    <!-- issue.fields.reporter -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Reporter:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="4"><div class="mat-left">
      {{issue.fields.reporter.name}}
    </div></mat-grid-tile>

  <!-- ROW 3 -->

    <!-- issue.fields.versions -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Affects&nbsp;Version/s:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="4"><div class="mat-left">
      <!-- <log-html [data]="{versions:issue.fields.versions}"></log-html> -->
      <span *ngFor="let item of issue.fields.versions; index as i;"><span *ngIf="i">{{', '}}</span>{{item.name}}</span>
    </div></mat-grid-tile>

    <!-- issue.fields.fixVersions -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Fix&nbsp;Version/s:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="4"><div class="mat-left">
      <span *ngFor="let item of issue.fields.fixVersions; index as i;"><span *ngIf="i">{{', '}}</span>{{item.name}}</span>
    </div></mat-grid-tile>

    <!-- empty -->
    <mat-grid-tile colspan="8">
    </mat-grid-tile>

  <!-- ROW 4 -->

    <!-- issue.fields.components -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Component/s:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="4"><div class="mat-left">
      <span *ngFor="let item of issue.fields.components; index as i;"><span *ngIf="i">{{', '}}</span>{{item.name}}</span>
    </div></mat-grid-tile>

    <!-- empty -->
    <mat-grid-tile colspan="8">
    </mat-grid-tile>

    <!-- issue.fields.created -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Created:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="4"><div class="mat-left">
      <span title={{momentFormatted(issue.fields.created)}}>
        {{momentFromNow(issue.fields.created)}}
      </span>
    </div></mat-grid-tile>

  <!-- ROW 5 -->

    <!-- issue.fields.labels -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Labels:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="4"><div class="mat-left">
      <span *ngFor="let item of issue.fields.labels; index as i;"><span *ngIf="i">{{', '}}</span>{{item}}</span>
    </div></mat-grid-tile>

    <!-- empty -->
    <mat-grid-tile colspan="8">
    </mat-grid-tile>

    <!-- issue.fields.updated -->
    <mat-grid-tile colspan="4"><div class="mat-right">
      <b>Updated:</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="4"><div class="mat-left">
      <span title={{momentFormatted(issue.fields.updated)}}>
        {{momentFromNow(issue.fields.updated)}}
      </span>
    </div></mat-grid-tile>

  </mat-grid-list>

  <!-- issue.fields.description -->
  <br /><b>Description:</b><br />
  <pre>{{issue.fields.description}}</pre>

  <!-- issue.fields.comment.comments -->

  <div *ngIf="issue.fields.comment.comments.length === 0 && (isFetching$ | async)">
    <p>Loading...</p>
  </div>

  <div *ngIf="issue.fields.comment.comments.length === 0 && !(isFetching$ | async)">
    <p>No comment yet.</p>
  </div>

  <div *ngIf="issue.fields.comment.comments.length">
    <b>Comments:</b><br />
    <span *ngFor="let comment of issue.fields.comment.comments">
      <i>
        Posted by {{comment.author.name}}{{' '}}
        <span title={{momentFormatted(comment.created)}}>
          {{momentFromNow(comment.created)}}
        </span>{{' '}}
      </i>
      (<button mat-button class="mat-small" color="primary" (click)="deleteComment(comment)">Delete</button>)
      <br />
      <pre>{{comment.body}}</pre>
    </span>
  </div>

  <form class="form-container" (submit)="submitComment($event)">
    <mat-form-field>
      <textarea matInput matTextareaAutosize matAutosizeMinRows="1"
        placeholder="Add comment:" (focus)="focusComment($event)" (blur)="blurComment($event)"
      ></textarea> <!-- matAutosizeMaxRows="5" -->
    </mat-form-field>
<!--
    <br />
    <textarea rows="1" placeholder="Add comment:" (focus)="focusComment($event)" (blur)="blurComment($event)"></textarea>
-->
    <div *ngIf="isCommentOpen">
      <button mat-button color="primary">Submit</button>
    </div>
  </form>

</div>
