.jcic-dialog {
  overflow: hidden;
  position: relative;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.jcic-dialog-tmp {
  overflow: hidden;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translateX(-50%);
}

.jcic-dialog-content, .jcic-dialog-iframe {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.jcic-dialog-iframe {
  border: none;
}
