html(lang="fr")
  head
    meta(charset="utf-8")
    title= pageTitle ? pageTitle + ' — ' + title : title
    link(rel="icon" href="data:;base64,iVBORw0KGgo=")
    link(rel="stylesheet" href="/lib/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    block content
