extend _layout

block content
  h1(style="margin:10px") Welcome to #{title} !

  p(style="margin:10px") Be happy to visit jcic&nbsp;
    a(href="/jcic1") bootstrap
    | &nbsp;or&nbsp;
    a(href="/jcic2") aui
    | &nbsp;version.
