/* responsive modal and form height to allow scroll down to the modal footer buttons always */
/* these css classes can be removed with the later AUI versions */
section.aui-layer.aui-dialog2 {
  height: 100%;
}
form.aui {
  height: calc(100% - 320px);
}

/* border for the select.auiSelect2() too */
/* this css class should be added with the later AUI versions
a.select2-choice {
  border: 1px solid !important;
  border-color: rgb(193, 199, 208);
  border-color: #A6ACAF !important;
}
*/

/* modal form default hidden primary button triggered when pressing enter from an input field */
.form-btn-hidden {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  margin: 0;
}

/* highlight the required fields when they are invalid */
.form-highlights:required:invalid { /* input and textarea */
  border-width: 1px !important;
  border-radius: 3px !important;
  border-color: red !important;
  box-shadow: 0 0 2px #FF0000 !important;
}
.select2-highlights { /* toggled class for the required select2 fields on focusout to [un]highlight when they are [in]valid */
  border-width: 1px !important;
  border-radius: 3px !important;
  border-color: red !important;
  box-shadow: 0 0 2px #FF0000 !important;
}
.div-highlights { /* toggled class for the required div(checkboxes/radio-buttons) fields on focusout to [un]highlight when they are [in]valid */
  border-bottom: solid;
  border-color: red;
  border-width: 2px;
  width: 328px;
}

/* placeholder */
::placeholder { /* input and textarea for Chrome and Forefox */
  background-color: white !important;
  color: gray !important;
  opacity: 0.6 !important;
}
:-ms-input-placeholder { /* input and textarea for Internet Explorer */
  background-color: white !important;
  color: gray !important;
  opacity: 0.6 !important;
}
::-ms-input-placeholder { /* input and textarea for Edge */
  background-color: white !important;
  color: gray !important;
  opacity: 0.6 !important;
}
.placeholder { /* all selects */
  background-color: white !important;
  color: gray !important;
  opacity: 0.6 !important;
}

/* the first select option disabled/selected (not select2 field) used as placeholder
   is also used as header of the dropdown when opened in Edge and Internet Explorer */
:disabled {
  background-color: white !important;
  color: dimgray !important;
}
