extend ../../_layout

block content
  div(class='line-feed') <a href="/">home</a> > <a href="/issue">issue</a> > <a href="/issue/#{issue.id}">#{issue.id}</a> > new
  h1
    = pageTitle

  form(method="post" action="/issue/#{issue.id}")
    .form-group
      label(for='comment') Your comment<br>
        textarea.form-control(id='comment' name="comment" rows="3" required placeholder="Your comment here")
    button.btn.btn-primary(type="submit")
      i.glyphicon.glyphicon-plus Add
