html(lang="fr")
  head
    meta(charset="utf-8")
    title #{title}
    link(rel="icon" href="data:;base64,iVBORw0KGgo=")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    div(id="root")
    div(id="constants")
      input(type="hidden" id="jiraHost" name="jiraHost" value=jiraHost)
      input(type="hidden" id="jiraPort" name="jiraPort" value=jiraPort)
    div(id="scripts")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-router/4.2.0/react-router.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/4.2.2/react-router-dom.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.7.2/redux.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/5.0.6/react-redux.min.js")
      script(type="text/javascript" src="https://unpkg.com/redux-logger@2.7.4/dist/index.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/redux-thunk/2.1.0/redux-thunk.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.31.3/react-bootstrap.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")

      script(type="text/javascript" src="/globals.js")
      script(type="text/javascript" src="/store/web-socket-connect.js")
      script(type="text/javascript" src="/store/actions.js")
      script(type="text/javascript" src="/store/reducers.js")
      script(type="text/javascript" src="/store/store.js")
      script(type="text/javascript" src="/store/dispatchers.js")
      script(type="text/javascript" src="/store/services.js")
      script(type="text/javascript" src="/store/web-socket-listen.js")
      script(type="text/babel" src="/link-view.jsx")
      script(type="text/babel" src="/issues/create-issue.jsx")
      script(type="text/babel" src="/issues/delete-issue.jsx")
      script(type="text/babel" src="/issues/comment-box.jsx")
      script(type="text/babel" src="/issues/issue-box.jsx")
      script(type="text/babel" src="/issues/issues-box.jsx")
      script(type="text/babel" src="/plan/refresh-issues.jsx")
      script(type="text/babel" src="/plan/issues-counters.jsx")
      script(type="text/babel" src="/plan/issues-listing.jsx")
      script(type="text/babel" src="/plan/issues-ranking.jsx")
      script(type="text/babel" src="/plan/new-issue.jsx")
      script(type="text/babel" src="/plan/plan-box.jsx")
      script(type="text/babel" src="/app-root.jsx")
      script(type="text/babel" src="/react-render.jsx")
